@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MindXChallenge.Data.EntityUser> SignInManager

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>

<Layout Class="layout">
    <Header>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
            <span>MindXChallenge</span>
            <AuthorizeView>
                <Authorized>
                    <a href="#">Hello, @context.User.Identity.Name!</a>
                    <MenuItem Key="1"><a href="newblog">New Post</a></MenuItem>
                    <MenuItem Key="2"><a href="Identity/Account/LogOut">Logout</a></MenuItem>
                </Authorized>
                <NotAuthorized>
                    <MenuItem Key="3" Class="float-right"><a href="Identity/Account/Register">Register</a></MenuItem>
                    <MenuItem Key="4" Class="float-right"><a href="Identity/Account/Login">Log in</a></MenuItem>
                </NotAuthorized>
            </AuthorizeView>
        </Menu>
    </Header>
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content mt-5">
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>
